
 .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    max-width: 800px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 21, 255, 0.1);
    background-size: cover;
    margin: auto;
    margin-top: 15%;
    backdrop-filter: blur(15px);
    background: transparent;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
  }
  
  .left-content {
    width: 40%; /* Set fixed width for left content */
    display: flex;
    justify-content: flex-start; /* Align items to the left */
    text-align: left; /* Left justify text */
  }
  
  .right-content {
    width: 40%; /* Set fixed width for right content */
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Align items to the right */
  }
  
  .title {
    margin-bottom: 20px;
  }
  
  .title h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
  }
  
  .title p {
    font-size: 1rem;
    color: rgb(255, 255, 255);
  }
  
  button {
    color: #fff;
    border: none;
    padding: 15px 30px; /* Increased padding for larger buttons */
    margin-bottom: 15px; /* Increased margin for better spacing */
    cursor: pointer;
    border-radius: 8px; /* Increased border-radius for rounded corners */
    text-decoration: none;
    transition: transform 0.3s ease;
    font-size: 1.2rem; /* Increased font size for better readability */
    width: 150px;
    background-image: url('../Assets/homebutton.jpg');
    background-size: cover;
    font-weight: bold;
  }
  
  button:hover {
    filter: brightness(120%);
    transform: scale(1.2);
  }
  
  button a {
    color: #ffffff;
    text-decoration: none;
  }
  
  button a:hover {
    text-decoration: none;
  }