.navbar{
    top: 0;
    display: flex;
    justify-content: space-around;
    box-shadow:  0 1px 3px -2px black; /* to put shadow under the box with color*/
    padding: 0px;
}
.navbar-logo{
    display: flex;
    align-items: center;
    gap: 0px;
}
.navbar-logo p{
    color: #171717;
    font-size: 28px;
    font-weight: 600;
}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 30px;
    color: #626262;
    font-size: 20px;
    font-weight: 500;
}
.nav-menu li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
}
.nav-menu hr{
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background: #00abb1;
}
.nav-chat button:active{ /* here the button active is the click function of mouse*/
    background: #000000;
}
.nav-chat-count {
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -75px;
    margin-left: 87px;
    border-radius: 11px;
    font-size:  14px;
    background: red;
    color: white;
    z-index: 1;
}
.navbar-menu-logo{
    display: flex;
}
.logout button{
    margin-top: 15%;
}