.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #000000;
    backdrop-filter: blur(15px);
    background: transparent;
    border-radius: 10px;
    color: white;
  }
.footer img {
        margin-left: 23%; /* Display images in a row */
}

.footer p1 {
    margin-left: 21.7%; /* Remove default margin for paragraphs */
}
.footer p2 {
    margin-left: 18.5%; /* Remove default margin for paragraphs */
}
.footer p3 {
    margin-left: 17.5%; /* Remove default margin for paragraphs */
}
