.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #000000;
    background-image: url('../Assets/homecontent.jpg');
}
.footer img {
        margin: 0 210px; /* Display images in a row */
}

.footer p1 {
    margin: 0 190px; /* Remove default margin for paragraphs */
}
.footer p2 {
    margin: 0 155px; /* Remove default margin for paragraphs */
}
.footer p3 {
    margin: 0 170px; /* Remove default margin for paragraphs */
}
