.chatbox{
    margin:auto;
    max-width: 1000px;
    border-radius: 4px;
    background-color: aqua;
    backdrop-filter: blur(12px);
    background: transparent;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 30px;
    color: white;
    padding: 10px;
    height: 501.5px;
}
.chatbox ul {
    list-style-type: none;
    padding: 0;
    margin-top: -20px;
}
.left_li{
    display: flex;
    flex-direction: column;
}
.right_li{
    display: flex;
    flex-direction: column;
    margin-left: 600px;
}
.chatemail{
    font-size: small;
    text-transform: capitalize;
    margin-left: 1%;
    padding-top: 22px;
}
.messagecontainer_l {
    display: inline-block; /* or inline-flex */
    max-width: 400px; /* Adjust as needed */
    background-color: rgba(0, 0, 0, 0.297); /* Semi-transparent white background */
    border: 2px solid rgba(255, 255, 255, 0.15); /* Semi-transparent white border */
    border-radius: 10px;
    color: white;
    height: fit-content;
}
.messagecontainer_r{
    display: inline-block; /* or inline-flex */
    max-width: 400px; /* Adjust as needed */
    background-color: rgba(6, 130, 255, 0.415); /* Semi-transparent white background */
    border: 2px solid rgba(255, 255, 255, 0.15); /* Semi-transparent white border */
    border-radius: 10px;
    color: white;
    height: fit-content;
}
.message-text {
    display: flex;
    justify-content: space-between; /* Put space between p4 and p5 */
    align-items: center; /* Align items vertically */
    width: 100%;
}

.messagecontainer_l p {
    padding-top: 5px;
    padding-left: 10px;
    margin: 0; /* Remove any default margins */
}
.messagecontainer_r p {
    padding-top: 5px;
    padding-left: 10px;
    margin: 0; /* Remove any default margins */
}

.p4 {
    text-align: left;
}

.p5 {
    font-size: xx-small;
    text-align: right;
    padding-right: 10px;
}
.messageinput{
    max-width: 600px;
    display: flex;
    margin: auto;
}
.messageinputbutton {
    padding-left: 30px;
}
.messageinput input{
    border-radius: 10px;

}