.blogfullpage{
    display: flex;
    align-items: center;
}
.allblog{
    max-width: 1300px;
    overflow: scroll;
    height: 85vh;
}
.eachblog {
    list-style-type: none;
}
.eachblog li{
    margin:auto;
    max-width: 1300px;
    background-color: aqua;
    backdrop-filter: blur(10px);
    background: transparent;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 30px;
    color: white;
    margin-bottom: 20px;
    height: fit-content;
}
.eachblog li img{
    max-width: 50px;
    max-height: 50px;
    margin-left: 20px;
    margin-top: 20px;
}
.titleandlogo{
    display: flex;
    flex-direction:row;
    padding: 0;
}
.titleandlogo a{
    text-decoration: none;
    color: white;
}
.titleandlogo h2{
    font-size: 35px;
}
.author{
    padding: 0px;
    text-align: right;
    margin-right: 20px;
    margin-top: -10px;
}
.eachblog p{
    padding-left: 20px;
    padding-right: 20px;
}
/* width */
::-webkit-scrollbar {
    width: 0px;    
  }
.bloginput{
    margin-left: 50px;
}
.bloginput {
    background-color: aqua;
    backdrop-filter: blur(10px);
    background: transparent;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 30px;
    color: white;
    width: 60vh;
    height: 80.3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.blogtitleinput {
    margin-top: 100px;
    max-width: 400px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 30px;
    font-size: 20px;
    font-weight: bold;
}
.blogcontentinput{
    padding: 20px;
    width: 360px;
    height: 200px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 30px;
    margin-bottom: 40px;
    font-size: 18px;
}