
form.signup, form.login {
    max-width: 400px;
    border-radius: 4px;
    background-color: aqua;
    margin-top: 10%;
    backdrop-filter: blur(15px);
    background: transparent;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    color: white;
  }
  
  label, input {
    display: block;
  }
  input {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
  }
  
  div.error {
    padding: 10px;
    background: #ffefef;
    border: 1px solid var(--error);
    color: var(--error);
    border-radius: 4px;
    margin: 20px 0;
    color:black;
  }
  input.error {
    border: 1px solid var(--error);
  }

