
form.signup, form.login {
    max-width: 400px;
    margin: 150px auto;
    padding: 20px;
    background: #fff;
    border-radius: 4px;
    margin-left: 50px auto;
  }
  
  label, input {
    display: block;
  }
  input {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  div.error {
    padding: 10px;
    background: #ffefef;
    border: 1px solid var(--error);
    color: var(--error);
    border-radius: 4px;
    margin: 20px 0;
  }
  input.error {
    border: 1px solid var(--error);
  }